$primary_1: #f4f4f4;
$primary_2: #dbdbdf;
$secondary_1: #ffd244;
$secondary_2: #fdd017;
$secondary_3: #1d1d1d;
$secondary_4: #323232;
$secondary_5: #d8d8d9;
$secondary_6: #454544;
$secondary_7: #979797;
$black: #000000;
$white: #ffffff;
$gray: #808080;
$shadow_1: rgb(28, 27, 31, 0.3);
$shadow_2: rgb(0, 0, 0, 0.15);
